sudo: false
language: python
python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
env:
  global:
  - secure: E+ty+bYNEGq+yi1X/3tt+zPebDSD+EVZtHF7ZgWRGs+8Jis4k0GHM7x4G433l7dQ+iDKQs9AHID8MNbSvibSXOohoybiNLAO2ojCdJKBmqgTVVrZXBUfazrP919sYOIuCtXRJ4slMGqh97pZmtWmdjqtnLtcwtWMeebSD9qzTuPb2gYjXoMMlzfphhwP+l78W+uCdpW2kbcYJBGOOr+7MYaHHJz3BmWO/w7BB9Ei7fb5YZbpsZnOyAdwRBvL0E7vQODnm4VYPpb4UX3gjNRZ8BntRqRC/Vr++71OFJGc6Sjuf33dG7+mWHc/1qvYdMu/sEXOrJMTYLuMwmih0csech/TkrAkHoki33H6CYD8iKj/gY+fC2VkbZr6rjNqJm/qniL3+w3zuD3d8BsMuFLgqDnauGBLEkaAL8eI0xf/GN3Cr0tYB/Zc75IM8xSaRqy6PX2dV2uXOXc+9XA5yb7/tvuEkxONdxRtdjgoXckzjye71SbwDyEld/52c1aErTzs8+gduicsehhW+FBCNtoc3CEU4lPbNsVjDRGyd7wM6X+IK4cdzIn6TGAKh7AU+s52a5fCjxPUKcManrBx1aaKnjaqIFpFKwGIxwUWACNFL2h72ZuArPRhMpWlAoI04xsRcDbtBbhmTV1Qt+6mYWQ79feqQUSj6jTkPFF5mmXJs6o=
  - FAUNA_DOMAIN=cloud.faunadb.com
  - FAUNA_SCHEME=https
  - FAUNA_PORT=443
install:
- pip install codecov
script:
- coverage run setup.py test
after_success:
- codecov
notifications:
  email: false
  slack:
    secure: gtLuor9yg9gu5uLm8oOnCuRc7FmGI9Kga/GQjbzRNSVXUiiVZJNoSP03Uq5SwIa3/s5fitiTSObsHowI/VgDNNeLlWT4B0EkvhaNxlQumTYpUUbix7Cd0fLPCkLMGYgNJZ/WJpUFjtDkRbcdgr3Jcj9Dxy7ZpUOgsGRbl/5AXqxHp+zxyFjB0jsFjDpgPpCEzHpllkO9uci1H4ISxt9itLD8rMUjnN+IetX2M3l2982kLLRTSyrGuTNiCNOXMdknSMnygMYnPngF5W9vjZGKz2cv7FGIBvzQQZTAoht0wtZPLgqcQfu+WChMWPE6cwPL2ZKZDE2pPs8kLe8iEtCH3/ozU67gInc8KzcuaevuyE2r4eFHExoq49EYCKxqot5ogUfD0e13O8uMOob+SEpEgiYyySRcOapLac+d84qZQquIyf9SGlWIYOR4jEx7JPBcvHPhlOdRete6G0bZ60qGzyjSe2YpXPF6eM5krw/M7wdkD4AYRD5gqlYu1aSLj+IKg4n56Yjg+wKV2xK5P+QNGF3cuMfQOjqFQ4sivyX0BBQkY6UbAgCG2HmbmmWs1PY2SaDVudLlg1fCaYMWW8/RM00f5uyp0tbpi5TZycmz3hbygyNUwkZmUsOtFsO3I8UF5OTTA6rtr57CRi3WJIZ5Vp1oDUqTexyTDKsEcsFnrGY=
branches:
  only:
  - master
