<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <meta name="robots" content="noindex">
  </head>
  <body><div style="background-color: #f8d7da; color: #721c24; padding: 15px; text-align: center; font-family: Arial, sans-serif; border: 1px solid #f5c6cb; margin-bottom: 20px; font-size: 18px;"> <p><strong>Warning:</strong><br> Fauna is decommissioning FQL v4 on June 30, 2025.</p> <p>This driver is not compatible with FQL v10, the latest version. Fauna accounts created after August 21, 2024 must use FQL v10.<br>Ensure you migrate existing projects to the official v10 driver by the v4 EOL date: <a href="https://github.com/fauna/fauna-python">https://github.com/fauna/fauna-python</a>.</p><p>For more information, see the <a href="https://docs.fauna.com/fauna/v4/#fql-v4-end-of-life">v4 end of life (EOL) announcement</a> and <a href="https://docs.fauna.com/fauna/v4/migration/faq">related FAQ</a>.</p></div>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

	<ul class="downloads">
          <li><a href="{{ site.api_docs_url }}"><strong>API docs</strong></a></li>
        </ul>
        <ul class="downloads">
          <li><a href="{{ site.fql_docs_url }}"> <strong>FQL API</strong></a></li>
	</ul>
	<ul class="downloads">
          <li><a href="{{ site.pypi_url }}"><strong>View on PyPi</strong></a></li>
	</ul>
	<ul class="downloads">
          <li><a href="{{ site.github.repository_url }}"><strong>View on GitHub</strong></a></li>
        </ul>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Original Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
